/* {
  border: solid black 3px;
}*/

@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}

.containerB {
  height: 5em;
  width: 100%;
  display: inline-block;
  /* border: solid yellow 2px; */
  text-align: center;
}

.buffer {
  position: relative;
  height: 50px;
}

.containerB > button {
  position: relative;
  height: 100%;
  width: 10em;

  border-radius: 0.85em;
  margin: 5px;
}

/* Creates the glowing button animation */
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

/* This class is removed and sent to the Draw button via JS */
.restart-game {
  animation: glowing 1300ms infinite;
}

body {
  background-color: #eee;
  font-family: Lora, sans-serif;
}

.card {
  position: relative;
  width: 10em;
  height: 14em;
  background-color: #ffffff;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.85em;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 2rem;
}

.riseCard {
  animation: riseUp 1100ms;
  animation-timing-function: linear;
}

.message {
  font: bold;
  margin-bottom: 25px;
}

/* Outline of animation graphics:

Compare the cards. The greater card should raise up and come back down organically. */

@keyframes riseUp {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(-12%);
  }
}

/* TODO:

If the cards are in the War comparison (same value) rotate both cards 15 degrees and crash the corners. 

*/
